body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #353535; }

a {
  color: #0076ff;
  text-decoration: underline;
  transition: color ease 0.3s; }
  a:hover {
    color: inherit; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #010101; }

.text-small {
  font-size: 12px;
  color: #272727; }

.btn {
  background: #4db173;
  color: #ffffff;
  padding: 5px 29px;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  white-space: nowrap; }

.btn-lg {
  font-size: 20px;
  font-weight: 700;
  padding: 14px 47px; }

.btn-secondary {
  background-color: #a5a2a2; }

.btn-primary {
  background-color: #4db173; }
  .btn-primary:active, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #2e6a45; }

.btn-step {
  display: flex;
  justify-content: center; }
  .btn-step button {
    border: 1px solid #4db173;
    border-radius: 15px;
    padding: 66px 37px 15px 37px;
    border-top: none;
    margin-top: -50px;
    color: #4db173;
    font-size: 14px;
    font-weight: 700px; }

.text-h2 {
  font-size: 30px;
  font-weight: 700;
  color: #010101;
  text-align: center;
  margin: 40px 0 20px 0; }

.register-info {
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: #272727;
  max-width: 511px;
  padding-bottom: 30px; }

form label.control-label {
  display: block;
  margin-bottom: 4px; }

form input.form-control {
  border: 2px solid #4db173;
  height: 36px;
  border-radius: 0; }

.page-heading {
  padding: 64px 0 69px;
  background-image: linear-gradient(to right, #11998e, #008851);
  color: #ffffff;
  text-align: center; }
  .page-heading .page-heading-inner {
    max-width: 750px;
    margin: auto; }
    .page-heading .page-heading-inner h1 {
      font-size: 40px;
      color: inherit; }
    .page-heading .page-heading-inner p {
      font-size: 20px; }

.step {
  margin-bottom: 105px; }
  .step .form-step {
    margin-bottom: 40px; }

.step-p {
  color: #272727;
  font-size: 12px; }

.nav.nav-tabs {
  border-color: #707070; }
  .nav.nav-tabs .nav-link {
    text-decoration: none;
    background-color: #f3f2f1;
    color: #353535;
    border-radius: 0;
    margin: 4px 6px;
    padding: 8px 33px; }
    .nav.nav-tabs .nav-link.active {
      padding: 12px 39px;
      color: #008851;
      border-color: #707070 #707070 #ffffff;
      border-radius: 0;
      background-color: #ffffff;
      margin: 0; }

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #4db173; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ""; }

.magic-radio-sm + label:before,
.magic-checkbox-sm + label:before {
  width: 15px;
  height: 15px; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4db173; }

.magic-radio:checked + label:before {
  border: 1px solid #4db173; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #b7e0c7; }

.magic-radio:checked[disabled] + label:after {
  background: #b7e0c7; }

.magic-checkbox + label:before {
  border-radius: 0px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox-sm + label:after {
  top: 1px;
  left: 5px;
  width: 6px;
  height: 10px; }

.magic-checkbox:checked + label:before {
  border: #4db173;
  background: #4db173; }

.magic-checkbox:checked[disabled] + label:before {
  border: #b7e0c7;
  background: #b7e0c7; }

header nav {
  background: #030303; }
  header nav ul {
    display: flex;
    margin: 0; }
    header nav ul li {
      line-height: 44px;
      font-size: 13px;
      margin-left: 33px; }
      header nav ul li:first-child {
        margin-left: 47px; }
      header nav ul li a {
        color: #ffffff;
        text-decoration: none; }
        header nav ul li a:hover {
          color: grey;
          text-decoration: none; }

.search-block {
  background-image: linear-gradient(to right, #11998e, #008851);
  padding: 48px 0 68px 0; }
  .search-block h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 27px; }
  .search-block .search {
    display: flex;
    max-width: 714px;
    background: white;
    margin: auto; }
    .search-block .search input {
      border: none;
      outline: none;
      -webkit-appearance: none;
      flex: 1;
      padding-left: 15px;
      font-size: 22px; }
    .search-block .search .btn-color {
      margin: 12px;
      background: #4db173;
      color: #ffffff;
      border-radius: 0;
      padding: 16px 44px;
      font-size: 16px;
      font-weight: 700; }

.task-block {
  padding: 45px 0px 60px 0; }
  .task-block h2 {
    color: #353535;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 39px; }
  .task-block .task {
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008851;
    background-image: linear-gradient(to bottom right, #008851, #11998e);
    transition: background ease 0.3s;
    margin-bottom: 22px; }
    .task-block .task:hover {
      background: #22584b; }
    .task-block .task .task-title {
      text-align: center; }
      .task-block .task .task-title h3 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px; }
      .task-block .task .task-title button {
        border: 2px solid #ffffff;
        background: #236a3e;
        padding: 11px 42px;
        color: #ffffff;
        font-size: 14px;
        transition: all ease 0.3s; }
        .task-block .task .task-title button:hover {
          background-color: #ffffff;
          color: #236a3e; }

footer .footer-ealing {
  background: #353535;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .footer-ealing .logo-footer img {
    padding: 25px 0 31px 30px; }
  footer .footer-ealing .follow-information {
    display: flex; }
    footer .footer-ealing .follow-information .my-border {
      height: 57px;
      border-left: 1px solid #707070; }
    footer .footer-ealing .follow-information .social {
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      margin: 0 69px 0 52px; }
      footer .footer-ealing .follow-information .social p {
        margin: 5px; }
      footer .footer-ealing .follow-information .social .social-icons {
        display: flex; }
        footer .footer-ealing .follow-information .social .social-icons div {
          width: 23px;
          height: 23px;
          background: #ffffff;
          margin-left: 5px; }

footer nav {
  background: #030303; }
  footer nav ul {
    display: flex;
    margin: 0;
    padding: 22px 0; }
    footer nav ul li {
      font-size: 12px;
      margin-left: 33px; }
      footer nav ul li a {
        color: #ffffff;
        text-decoration: none; }
        footer nav ul li a:hover {
          color: grey;
          text-decoration: none; }

.wrapper-register {
  padding-bottom: 100px; }
  .wrapper-register .btn-step {
    display: flex;
    justify-content: center; }
    .wrapper-register .btn-step button {
      border: 1px solid #4db173;
      border-radius: 15px;
      padding: 66px 37px 15px 37px;
      border-top: none;
      margin-top: -50px;
      color: #4db173;
      font-size: 14px;
      font-weight: 700px; }
  .wrapper-register .register-form-info p {
    font-size: 16px;
    color: #353535; }
  .wrapper-register form label {
    display: block;
    margin-bottom: 4px; }
  .wrapper-register form input {
    border: 2px solid #4db173;
    height: 36px;
    border-radius: 0; }
  .wrapper-register form #label-radio {
    margin-right: 20px; }
  .wrapper-register form button.btn {
    margin-left: 20px; }
  .wrapper-register form .btn-register {
    display: flex;
    justify-content: center; }
  .wrapper-register form .form-group {
    margin-bottom: 13px; }
  .wrapper-register form .user-radio-group label {
    margin: 0 20px 0 0; }
  .wrapper-register form .register-checkboxes label {
    font-size: 12px; }
  .wrapper-register .hr {
    border-bottom: 1px solid #a5a2a2;
    margin: 20px 0; }

.wrapper-sign-in {
  padding-bottom: 100px; }
  .wrapper-sign-in img {
    margin: 12px 0 19px 0; }
  .wrapper-sign-in .text-h2 {
    margin-top: 0; }
  .wrapper-sign-in .forgot-password-block {
    margin-top: 5px;
    margin-bottom: 38px; }
  .wrapper-sign-in .social-btn {
    width: 100%;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
    background: none;
    border: none;
    padding: 10px; }
    .wrapper-sign-in .social-btn img {
      max-height: 25px;
      margin: 0;
      margin-right: 10px; }
    .wrapper-sign-in .social-btn.ms-social, .wrapper-sign-in .social-btn.google-social {
      border: 1px solid #707070;
      color: #353535; }
    .wrapper-sign-in .social-btn.fb-social {
      background-color: #4e71a8;
      color: white; }
      .wrapper-sign-in .social-btn.fb-social img {
        margin-left: 5px;
        margin-right: 15px; }
    .wrapper-sign-in .social-btn.li-social {
      background-color: #1883bb;
      color: white; }
      .wrapper-sign-in .social-btn.li-social img {
        margin-left: 5px;
        margin-right: 12px; }

.alt-home-page {
  max-width: 615px;
  margin: auto;
  padding: 60px 0 110px 0; }
  .alt-home-page .alt-search-block {
    display: flex; }
    .alt-home-page .alt-search-block input {
      flex: 1;
      height: 60px;
      font-size: 20px; }
  .alt-home-page h1 {
    margin: 47px 0 40px; }

.task-collapse-block .task-collapse {
  border-top: 1px solid #5ab67d;
  border-bottom: 1px solid #5ab67d;
  padding: 15px 0;
  color: #010101;
  margin-top: -1px; }
  .task-collapse-block .task-collapse .task-title {
    font-weight: bold;
    font-size: 24px; }
    .task-collapse-block .task-collapse .task-title span {
      color: #4db173; }
  .task-collapse-block .task-collapse p {
    margin: 0; }
  .task-collapse-block .task-collapse .task-collapse-control {
    font-size: 40px;
    color: #4db173;
    cursor: pointer; }
    .task-collapse-block .task-collapse .task-collapse-control .collapsed-control {
      display: none; }
    .task-collapse-block .task-collapse .task-collapse-control .uncollapsed-control {
      display: block; }
    .task-collapse-block .task-collapse .task-collapse-control.collapsed .collapsed-control {
      display: block; }
    .task-collapse-block .task-collapse .task-collapse-control.collapsed .uncollapsed-control {
      display: none; }

.task-collapse-block .task-collapse-data ul {
  padding-top: 24px; }

.service {
  margin-bottom: 40px; }
  .service h2 {
    color: #010101;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #4db173;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  .service .service-links {
    color: #353535;
    font-size: 14px; }
    .service .service-links li {
      border-bottom: 1px dotted #353535;
      padding-bottom: 12px;
      margin-bottom: 12px; }
      .service .service-links li a {
        color: #353535;
        text-decoration: none; }
        .service .service-links li a:hover {
          color: #4db173; }

.back-btn {
  padding: 9px 60px; }

.task-tab {
  margin-top: -7px; }

.forgot-password-page .text-h2 {
  margin: 40px 0 60px 0px; }

.forgot-password-page .step-p {
  color: #272727;
  font-size: 12px; }

.my-tooltip {
  padding: 11px 13px;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 28px;
  font-size: 12px;
  position: relative; }

.my-tooltip-green {
  background-color: #236a3e; }

.my-tooltip-red {
  background-color: #c10000; }

.my-tooltip-blue {
  background-color: #0076ff; }

.my-tooltip-arrow:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 16px solid;
  left: -16px; }

.my-tooltip-arrow-green:before {
  border-right: 16px solid #236a3e; }

.my-tooltip-arrow-red:before {
  border-right: 16px solid #c10000; }

.my-tooltip-arrow-blue:before {
  border-right: 16px solid #0076ff; }

/*# sourceMappingURL=index.css.map */
