footer {
  .footer-ealing {
    background: $footer-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-footer {
      img {
        padding: 25px 0 31px 30px;
      }
    }
    .follow-information {
      display: flex;
      .my-border {
        height: 57px;
        border-left: 1px solid $footer-border;
      }
      .social {
        color: $main-font;
        font-size: 12px;
        font-weight: 700;
        margin: 0 69px 0 52px;
        p {
          margin: 5px;
        }
        .social-icons {
          display: flex;
          div {
            width: 23px;
            height: 23px;
            background: $main-font;
            margin-left: 5px;
          }
        }
      }
    }
  }

  nav {
    background: $bg-nav;

    ul {
      display: flex;
      margin: 0;
      padding: 22px 0;
      li {
        font-size: 12px;
        margin-left: 33px;

        a {
          color: $main-font;
          text-decoration: none;

          &:hover {
            color: grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $md) {
  footer {
    nav {
      ul {
        display: block;
        li {
          margin: 0;
          padding: 7px 25px;
          line-height: 30px;
        }
      }
    }
  }
}
