.forgot-password-page {
  .text-h2 {
    margin: 40px 0 60px 0px;
  }

  .step-p {
    color: $color-text-register;
    font-size: 12px;
  }

  .step {
    margin-bottom: 105px;
  }

  .step-p {
    color: $color-text-register;
    font-size: 12px;
  }

  .send-btn {
    font-weight: normal;
    margin-top: 24px;
    font-size: 16px;
  }
}
