.reset-password-for-my-account {
  .text-h2 {
    margin: 40px 0 60px 0px;
  }
  .step {
    margin-bottom: 105px;
    .form-step {
      margin-bottom: 40px;
    }
    .my-tooptip-two {
      background-color: $btn-bg-dark;
      padding: 11px 13px;
      border-radius: 4px;
      color: $main-font;
      margin-top: 28px;
      font-size: 12px;
      position: relative;
      margin-bottom: 22px;
      margin-top: 10px;
    }
    p {
      color: $color-text-register;
      font-size: 12px;
    }
  }
}
