header {
  nav {
    background: $bg-nav;

    ul {
      display: flex;
      margin: 0;

      li {
        line-height: 44px;
        font-size: 13px;
        margin-left: 33px;

        &:first-child {
          margin-left: 47px;
        }

        a {
          color: $main-font;
          text-decoration: none;

          &:hover {
            color: grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $md) {
  header {
    nav {
      ul {
        display: block;
        li,
        li:first-child {
          margin: 0;
          padding: 7px 25px;
          line-height: 30px;
        }
      }
    }
  }
}
