.search-block {
  background-image: linear-gradient(
    to right,
    $gradient-left-color,
    $gradient-right-color
  );
  padding: 48px 0 68px 0;

  h2 {
    font-size: 40px;
    font-weight: 700;
    color: $main-font;
    margin-bottom: 27px;
  }

  .search {
    display: flex;
    max-width: 714px;
    background: white;
    margin: auto;

    input {
      border: none;
      outline: none;
      -webkit-appearance: none;
      flex: 1;
      padding-left: 15px;
      font-size: 22px;
    }
    .btn-color {
      margin: 12px;
      // background: $btn-bg-color;
      color: $main-font;
      border-radius: 0;
      padding: 16px 44px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.task-block {
  padding: 45px 0px 60px 0;

  h2 {
    color: $text-color;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 39px;
  }

  .task {
    text-decoration: none;
    height: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient-right-color;
    background-image: linear-gradient(
      to bottom right,
      $gradient-right-color,
      $gradient-left-color
    );
    transition: background ease 0.3s;
    margin-bottom: 22px;

    &:hover {
      background: #22584b;

      .task-title button {
        background-color: $main-font;
        color: $btn-bg-dark;
      }
    }

    .task-title {
      text-align: center;

      h3 {
        color: $main-font;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
      }

      button {
        border: 2px solid $main-font;
        background: $btn-bg-dark;
        padding: 6px 40px;
        color: $main-font;
        font-size: 14px;
        transition: all ease 0.3s;
      }
    }
  }
}
