.wrapper-register {
  padding-bottom: 100px;

  .register-form-info {
    p {
      font-size: 16px;
      color: $text-color;
    }
  }
  form {
    label {
      margin-bottom: 4px;
    }

    input {
      border: 2px solid $btn-bg-color;
      height: 36px;
      border-radius: 0;
    }

    #label-radio {
      margin-right: 20px;
    }

    button.btn {
      margin-left: 20px;
    }

    .btn-register {
      display: flex;
      justify-content: center;
    }

    .form-group {
      margin-bottom: 13px;
    }

    .user-radio-group {
      label {
        margin: 0 20px 0 0;
      }
    }

    .register-checkboxes {
      label {
        font-size: 12px;
      }
    }
  }

  .hr {
    border-bottom: 1px solid $hr-color;
    margin: 20px 0;
  }
}
