.wrapper-register {
  .btn-step {
    display: flex;
    justify-content: center;
    button {
      border: 1px solid $btn-bg-color;
      border-radius: 15px;
      padding: 66px 37px 15px 37px;
      border-top: none;
      margin-top: -50px;
      color: $btn-bg-color;
      font-size: 14px;
      font-weight: 700px;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    color: $color-header-regiister;
    text-align: center;
    margin: 40px 0 20px 0;
  }
  .register-info {
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: $color-text-register;
    max-width: 511px;
    padding-bottom: 30px;
  }

  .register-form-info {
    p {
      font-size: 16px;
      color: $text-color;

      a {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }
  form {
    label {
      display: block;
      margin-bottom: 4px;
    }

    input {
      border: 2px solid $btn-bg-color;
      height: 36px;
      border-radius: 0;
    }

    #label-radio {
      margin-right: 20px;
    }

    button {
      background: $btn-bg-color;
      color: $main-font;
      padding: 5px 29px;
      font-size: 14px;
      margin-left: 20px;
      border: 0;
      border-radius: 0;
      white-space: nowrap;
    }

    .btn-register {
      display: flex;
      justify-content: center;
    }

    .form-group {
      margin-bottom: 13px;
    }

    .user-radio-group {
      label {
        margin: 0 20px 0 0;
      }
    }
  }

  .hr {
    border-bottom: 1px solid $hr-color;
    margin: 20px 0;
  }
}
