.service {
  margin-bottom: 40px;

  h2 {
    color: $color-header-regiister;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid $btn-bg-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .service-links {
    color: $text-color;
    font-size: 14px;

    li {
      border-bottom: 1px dotted $text-color;
      padding-bottom: 12px;
      margin-bottom: 12px;

      a {
        color: $text-color;
        text-decoration: none;

        &:hover {
          color: $btn-bg-color;
        }
      }
    }
  }
}

.back-btn {
  padding: 9px 60px;
}
