{% extends "components/base.html" %} {% block content %}
<div class="forgot-password-page">
  <div class="text-center">
    <div class="btn-step">
      Step 1 of 2
    </div>
  </div>

  <div class="container">
    <img src="../img/logo.png" alt="logo" />
  </div>

  <h2 class="text-h2">Reset password for My Account</h2>

  <div class="container step">
    <div class="row">
      <div class="col-md-7">
        <form action="#">
          <div class="form-group">
            <label class="control-label" for="password">New password</label>
            <input
              type="password"
              id="password"
              class="btn-block form-control"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="conf-password"
              >Confirm new password</label
            >
            <input
              type="password"
              id="conf-password"
              class="btn-block form-control"
            />
          </div>

          <div class="row align-items-baseline">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-secondary btn-lg mb-3 send-btn btn-block"
              >
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-primary btn-lg mb-3 send-btn btn-block"
              >
                Confirm new password
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <label></label>
        <p class="step-p">
          <strong>Note:</strong> If you signed up to My Account using one of the
          social media accounts eg Google, Microsoft, Facebook, you will need to
          change your password on those platforms.
        </p>
      </div>
    </div>
  </div>
</div>
{% include "components/footer.html" %} {% endblock %}
