{% extends "components/base.html" %} {% block content %}
<div class="forgot-password-page">
  <div class="container">
    <img src="../img/logo.png" alt="logo" />
  </div>

  <h2 class="text-h2">Reset password for My Account</h2>

  <div class="container step">
    <div class="row">
      <div class="col-md-7">
        <form action="#">
          <div class="form-group">
            <label class="control-label" for="email">Email address</label>
            <input type="email" id="email" class="btn-block form-control" />
          </div>

          <div class="row align-items-baseline">
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-primary btn-lg mb-3 send-btn btn-block"
              >
                Continue
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-secondary btn-block">Cancel</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block">
                Access a different account
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <label></label>
        <div
          class="my-tooltip my-tooltip-blue my-tooltip-arrow my-tooltip-arrow-blue"
        >
          Email address verified. <br />
          Please press continue.
        </div>

        <p class="step-p">
          <strong>Note:</strong> If you signed up to My Account using one of the
          social media accounts eg Google, Microsoft, Facebook, you will need to
          change your password on those platforms.
        </p>
      </div>
    </div>
  </div>
</div>
{% include "components/footer.html" %} {% endblock %}
