{% extends "components/base.html" %} {% block content %} {% include
"components/header.html" %}

<section class="search-block">
  <h2 class="text-center ">What can we help you with?</h2>
  <form class="search">
    <input type="search" name="search" />
    <button class="btn-color btn">
      Search
    </button>
  </form>
</section>

<section class="task-block container">
  <h2 class="text-center">How about a specific task?</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Apply for it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Book it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Find it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Pay for it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Report it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Request it</h3>
          <button>More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="task-block container">
  <h2 class="text-center">Or how about a specific service?</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Housing benefits & support</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Council tax</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Parking</h3>
          <button>More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Housing benefits & support</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Council tax</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Parking</h3>
          <button>More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Housing benefits & support</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Council tax</h3>
          <button>More</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="task">
        <div class="task-title">
          <h3>Parking</h3>
          <button>More</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
