{% extends "components/base.html" %} {% block content %}
<div class="wrapper-register">
  <div class="text-center">
    <div class="btn-step">
      Step 1 of 2
    </div>
  </div>

  <h2 class="text-h2">Register for My Account</h2>
  <p class="register-info">
    My Account gives you access to a range of council services making it easier
    to pay, report, request, apply and book council services online.
  </p>

  <div class="container">
    <div class="d-flex justify-content-between register-form-info">
      <p>All fields are mandatory.</p>
      <p>Already have an account? <a class="link" href="#">Sign in</a></p>
    </div>

    <form action="">
      <div class="row">
        <div class="col-md-8 ">
          <label class="control-label" for="email">Email address</label>
          <div class="d-flex ">
            <input type="email" id="email" class="flex-grow-1 form-control" />
            <button class="btn btn-primary text-nowrap">Verify email</button>
          </div>
        </div>
        <div class="col-md-4">
          <label></label>
        </div>
      </div>

      <div class="hr"></div>

      <div class="row">
        <div class="col-md-8 form-group">
          <label class="control-label" for="password">Password</label>
          <input type="password" id="password" class="btn-block form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-group">
          <label class="control-label" for="conf-password"
            >Confirm password</label
          >
          <input
            type="password"
            id="conf-password"
            class="btn-block form-control"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-group">
          <label class="control-label" for="fname">First name</label>
          <input type="text" id="fname" class="btn-block form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-group">
          <label class="control-label" for="lname">Last name</label>
          <input type="text" id="lname" class="btn-block form-control" />
        </div>
      </div>

      <div>
        <label class="control-label" class="font-weight-bold">
          Are you a personal or business user?
        </label>
        <div class="d-flex align-items-center user-radio-group">
          <input
            class="magic-radio"
            type="radio"
            name="radio"
            id="2"
            value="option2"
          />
          <label class="control-label" for="2">
            Personal
          </label>
          <input
            class="magic-radio"
            type="radio"
            name="radio"
            id="1"
            value="option1"
          />
          <label class="control-label" for="1">
            Business
          </label>
        </div>
      </div>

      <div class="my-4 register-checkboxes">
        <input
          class="magic-checkbox magic-checkbox-sm"
          type="checkbox"
          name="layout"
          id="3"
          value="option"
        />
        <label class="control-label" for="3">
          I have read, understood and agreed to the council’s
          <a class="link" href="#"> privacy policy</a>
        </label>

        <input
          class="magic-checkbox magic-checkbox-sm"
          type="checkbox"
          name="layout"
          id="4"
          value="option"
        />
        <label class="control-label" for="4">
          I have accepted the
          <a class="link" href="#">terms and conditions</a>
        </label>
      </div>

      <div class="text-center register-controls mt-5">
        <button type="button" class="btn btn-secondary btn-lg">
          Cancel
        </button>
        <button type="button" class="btn btn-primary btn-lg">
          Create account
        </button>
      </div>
    </form>
  </div>
</div>

{% include "components/footer.html" %} {% endblock %}
