{% extends "components/base.html" %} {% block content %} {% include
"components/header.html" %}

<section class="page-heading">
  <div class="page-heading-inner">
    <h1>Housing benefits and council tax support</h1>
    <p>
      Ut tristique justo ut tempus tristique, aecenas auctor non tristiqueUt
      tristique justo ut tempus tristique, aecenas auctor non tristiqueUt
      tristique justo ut tempus tristique,
    </p>
  </div>
</section>

<div class="container mb-5">
  <div class="my-5">
    <button class="btn btn-primary back-btn">Back</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="service">
        <h2>Apply for it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount </a></li>
          <li><a href="#">Housing Benefit and Council Tax support </a></li>
          <li>
            <a href="#"
              >A revision or appeal about a Housing Benefit and Council Tax
              Support claim
            </a>
          </li>
          <li>
            <a href="#"
              >Access to Landlord portal ‘registered social landlords and
              housing Associations’</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <h2>Book it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount</a></li>
          <li><a href="#">Housing Benefit and Council Tax support</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <h2>Find it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount</a></li>
          <li><a href="#">Housing Benefit and Council Tax support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="service">
        <h2>Pay for it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount</a></li>
          <li><a href="#">Housing Benefit and Council Tax support</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <h2>Report it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Change in circumstances </a></li>
          <li>
            <a href="#"
              >Send information to support a Housing Benefit and/or Council Tax
              Support claim</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <h2>Request it</h2>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount</a></li>
          <li><a href="#">Housing Benefit and Council Tax support</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
