{% extends "components/base.html" %} {% block content %} {% include
"components/header.html" %}

<section class="page-heading">
  <div class="page-heading-inner">
    <h1>Apply for it</h1>
    <p>
      Ut tristique justo ut tempus tristique, aecenas auctor non tristiqueUt
      tristique justo ut tempus tristique, aecenas auctor non tristiqueUt
      tristique justo ut tempus tristique,
    </p>
  </div>
</section>

<div class="container mb-5">
  <div class="my-5">
    <button class="btn btn-primary back-btn">Back</button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="service">
        <h2>Housing benefits and council tax support</h2>
        <div class="row">
          <ul class="service-links list-unstyled col-md-6">
            <li><a href="#">Discretionary council tax discount </a></li>
            <li><a href="#">Housing Benefit and Council Tax support </a></li>
            <li>
              <a href="#"
                >A revision or appeal about a Housing Benefit and Council Tax
                Support claim
              </a>
            </li>
            <li>
              <a href="#"
                >Access to Landlord portal ‘registered social landlords and
                housing Associations’</a
              >
            </li>
          </ul>
          <ul class="service-links list-unstyled col-md-6">
            <li><a href="#">Discretionary council tax discount </a></li>
            <li><a href="#">Housing Benefit and Council Tax support </a></li>
            <li>
              <a href="#"
                >A revision or appeal about a Housing Benefit and Council Tax
                Support claim
              </a>
            </li>
            <li>
              <a href="#"
                >Access to Landlord portal ‘registered social landlords and
                housing Associations’</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="service">
        <h2>Council tax</h2>
        <div class="row">
          <ul class="service-links list-unstyled col-md-6">
            <li>
              <a href="#">Class B - Unoccupied properties owned by charities</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="service">
        <h4>Occupied properties</h4>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount </a></li>
          <li>
            <a href="#">Housing Benefit and Council Tax support </a>
          </li>
          <li>
            <a href="#"
              >A revision or appeal about a Housing Benefit and Council Tax
              Support claim
            </a>
          </li>
          <li>
            <a href="#"
              >Access to Landlord portal ‘registered social landlords and
              housing Associations’</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="service">
        <h4>Unoccupied properties</h4>
        <ul class="service-links list-unstyled">
          <li><a href="#">Discretionary council tax discount </a></li>
          <li>
            <a href="#">Housing Benefit and Council Tax support </a>
          </li>
          <li>
            <a href="#"
              >A revision or appeal about a Housing Benefit and Council Tax
              Support claim
            </a>
          </li>
          <li>
            <a href="#"
              >Access to Landlord portal ‘registered social landlords and
              housing Associations’</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
