{% extends "components/base.html" %} {% block content %} {% include
"components/header.html" %}

<section class="page-heading">
  <div class="page-heading-inner">
    <h1>Apply for it</h1>
    <p>
      Save time by managing your council services online.
    </p>
  </div>
</section>

<div class="container mb-5">
  <div class="my-5">
    <button class="btn btn-primary back-btn">Back</button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="service">
        <h2>Housing benefits and council tax support</h2>
        <div class="row">
          <ul class="service-links list-unstyled col-md-6">
            <li><a href="#">Discretionary council tax discount </a></li>
            <li><a href="#">Housing Benefit and Council Tax support </a></li>
            <li>
              <a href="#"
                >A revision or appeal about a Housing Benefit and Council Tax
                Support claim
              </a>
            </li>
            <li>
              <a href="#"
                >Access to Landlord portal ‘registered social landlords and
                housing Associations’</a
              >
            </li>
          </ul>
          <ul class="service-links list-unstyled col-md-6">
            <li><a href="#">Discretionary council tax discount </a></li>
            <li><a href="#">Housing Benefit and Council Tax support </a></li>
            <li>
              <a href="#"
                >A revision or appeal about a Housing Benefit and Council Tax
                Support claim
              </a>
            </li>
            <li>
              <a href="#"
                >Access to Landlord portal ‘registered social landlords and
                housing Associations’</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="service">
        <h2>Council tax</h2>
        <div class="row">
          <ul class="service-links list-unstyled col-md-6">
            <li>
              <a href="#">Class B - Unoccupied properties owned by charities</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="task-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              Occupied properties
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Unoccupied properties
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="service">
              <h3>Occupied properties</h3>
              <div class="row">
                <ul class="service-links list-unstyled col-md-6">
                  <li><a href="#">Discretionary council tax discount </a></li>
                  <li>
                    <a href="#">Housing Benefit and Council Tax support </a>
                  </li>
                  <li>
                    <a href="#"
                      >A revision or appeal about a Housing Benefit and Council
                      Tax Support claim
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Access to Landlord portal ‘registered social landlords
                      and housing Associations’</a
                    >
                  </li>
                </ul>
                <ul class="service-links list-unstyled col-md-6">
                  <li><a href="#">Discretionary council tax discount </a></li>
                  <li>
                    <a href="#">Housing Benefit and Council Tax support </a>
                  </li>
                  <li>
                    <a href="#"
                      >A revision or appeal about a Housing Benefit and Council
                      Tax Support claim
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Access to Landlord portal ‘registered social landlords
                      and housing Associations’</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="service">
              <h3>Unoccupied properties</h3>
              <div class="row">
                <ul class="service-links list-unstyled col-md-6">
                  <li><a href="#">Discretionary council tax discount </a></li>
                  <li>
                    <a href="#">Housing Benefit and Council Tax support </a>
                  </li>
                  <li>
                    <a href="#"
                      >A revision or appeal about a Housing Benefit and Council
                      Tax Support claim
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Access to Landlord portal ‘registered social landlords
                      and housing Associations’</a
                    >
                  </li>
                </ul>
                <ul class="service-links list-unstyled col-md-6">
                  <li><a href="#">Discretionary council tax discount </a></li>
                  <li>
                    <a href="#">Housing Benefit and Council Tax support </a>
                  </li>
                  <li>
                    <a href="#"
                      >A revision or appeal about a Housing Benefit and Council
                      Tax Support claim
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      >Access to Landlord portal ‘registered social landlords
                      and housing Associations’</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
