@keyframes hover-color {
  from {
    border-color: $magic-border-color;
  }

  to {
    border-color: $magic-main-color;
  }
}

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none;
}
.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;

  &:hover {
    &:before {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: hover-color;
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: $magic-checkbox-size;
    height: $magic-checkbox-size;
    content: "";
    border: 1px solid $magic-border-color;
  }
  &:after {
    position: absolute;
    display: none;
    content: "";
  }
}

.magic-radio-sm + label,
.magic-checkbox-sm + label {
  &:before {
    width: 15px;
    height: 15px;
  }
}

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: $magic-disabled-color;
  &:hover,
  &:before,
  &:after {
    cursor: not-allowed;
  }
  &:hover {
    &:before {
      border: 1px solid $magic-disabled-color;
      animation-name: none;
    }
  }
  &:before {
    border-color: $magic-disabled-color;
  }
}

.magic-radio:checked + label,
.magic-checkbox:checked + label {
  &:before {
    animation-name: none;
  }
  &:after {
    display: block;
  }
}

.btn-step {
  display: flex;
  justify-content: center;
  button {
    border: 1px solid $btn-bg-color;
    border-radius: 15px;
    padding: 66px 37px 15px 37px;
    border-top: none;
    margin-top: -50px;
    color: $btn-bg-color;
    font-size: 14px;
    font-weight: 700px;
  }
}

.text-h2 {
  font-size: 30px;
  font-weight: 700;
  color: $color-header-regiister;
  text-align: center;
  margin: 40px 0 20px 0;
}

.register-info {
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: $color-text-register;
  max-width: 511px;
  padding-bottom: 30px;
}

form {
  label.control-label {
    display: block;
    margin-bottom: 4px;
  }

  input.form-control {
    border: 2px solid $btn-bg-color;
    height: 36px;
    border-radius: 0;
  }
}
