<footer>
  <div class="footer-ealing">
    <div class="logo-footer">
      <img src="../img/footer-logo.png" alt="footer-logo" />
    </div>
    <div class="follow-information">
      <div class="border"></div>
      <div class="social">
        <p>Follow us</p>
        <div class="social-icons">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="list-unstyled">
      <li><a href="#">Terms and disclaimer</a></li>
      <li><a href="#">Site map </a></li>
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </nav>
</footer>
